[Unit]
Description=Learning Locker startup check
After=pm2-learninglocker

[Service]
ExecStart=sudo /usr/sbin/ll_startup_user_creation.sh

[Install]
WantedBy=multi-user.target