[Unit]
Description=Learning Locker startup check
After=network.target

[Service]
User=learninglocker
ExecStart=/usr/sbin/ll_startup_user_creation.sh
ExecStop=

[Install]
WantedBy=multi-user.target